# DDEV-specific files
.ddev/config.local.yaml
.ddev/docker-compose.yaml
.ddev/db_snapshots
.ddev/.global_commands
.ddev/.homeadditions
.ddev/commands
.ddev/.gitpod*
.ddev/traefik
.ddev/import-db/*.tgz
.ddev/mutagen

# Project backups
backups/*
!backups/.gitkeep

# Project directories
ddev-projects/*
!ddev-projects/.gitkeep
!ddev-projects/project-list.json
!ddev-projects/README.md

# Temp files
tmp/
temp/
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*~

# Node.js modules
node_modules/

# Composer
vendor/ 